description = "List of blogs"
==
{% set posts = blogPosts.posts %}

<div class="post-list">
    {% for post in posts %}
    {% set image = post.featured_images[0] %}
    {% set hasContent = (post.content|length > 50) %}
        <article class="post-item">
            <img
                    data-src="{{ image.filename }}"
                    src="{{ image.path }}"
                    alt="{{ image.description }}"
                    class="post-item__image"
            />
            <section>
            <header class="post-item__header">
                <h3>
                    {% if hasContent %}<a href="{{ post.url }}">{% endif %}
                    {{ post.title }}
                    {% if hasContent %}</a>{% endif %}
                </h3>
                <span class="post-item__info">
                    Posted
                    {% if post.categories.count %} in {% endif %}
                    {% for category in post.categories %}
                        <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                    on {{ post.published_at|date('d-m-Y') }}
                </span>
            </header>
            
            <p class="post-item__summary">{{ post.summary|raw }}</p>
            {% if hasContent %}
                <footer class="post-item__footer">Read more &raquo;</footer>
            {% endif %}
            </section>
        </article>
    {% else %}
        <span class="no-data">{{ blogPosts.noPostsMessage }}</span>
    {% endfor %}
</div>

{% if posts.lastPage > 1 %}
    <ul class="pagination">
        {% if posts.currentPage > 1 %}
            <li><a href="{{ this.page.baseFileName|page({ (blogPosts.pageParam): (posts.currentPage-1) }) }}">&larr; Prev</a></li>
        {% endif %}

        {% for page in 1..posts.lastPage %}
            <li class="{{ posts.currentPage == page ? 'active' : null }}">
                <a href="{{ this.page.baseFileName|page({ (blogPosts.pageParam): page }) }}">{{ page }}</a>
            </li>
        {% endfor %}

        {% if posts.lastPage > posts.currentPage %}
            <li><a href="{{ this.page.baseFileName|page({ (blogPosts.pageParam): (posts.currentPage+1) }) }}">Next &rarr;</a></li>
        {% endif %}
    </ul>
{% endif %}