description = "Menu for admin"
==
<script>
function getCookieValue(a) {
  let b = '; ' + document.cookie;
  let c = b.split('; ' + a + '=');
  return !!(c.length - 1) ? c.pop().split(';').shift() : '';
};

let display = getCookieValue("showAdminMenu")

if( display ){
    let bodyEl = document.querySelector("body");
    
    adminPanel = document.createElement("div");
    adminPanel.style = "background-color: hotpink; position: absolute; top: 0; right: 0; width: 32px; height: 32px;"
    
    bodyEl.appendChild(adminPanel);
}
</script>