==
<?php
function onStart(){
    $this['pages'] = [
        [
            "name" => "home",
            "title" => "About Me",
            "icon" => "user"
        ],
        [
            "name" => "experience",
            "title" => "Experience",
            "icon" => "code"
        ],
        [
            "name" => "projects",
            "title" => "Projects",
            "icon" => "hammer"
        ]
    ];
}
?>
==
<nav class="nav no-select">
    {% partial "nav/navHeader" %}
    <ul class="nav__list">
        {% for page in pages %}
            {% partial "nav/navItem" icon=page.icon link=page.name|page title=page.title %}
        {% endfor %}
    </ul>
    {% partial "nav/navFooter" %}
</nav>