.nav {
	position: fixed;
	top: 0;
	left: 0;
	color: $white; // TODO: Make themeable
	background-color: $blue-main; // TODO: Make themeable
	z-index: 69;

	width: $menu-width;
	height: 100vh;

	@include mq("tablet-small"){
		bottom: 0;
		top: unset;
		width: 100vw;
		height: 80px;
		border-top: 2px solid $purple-light; // TODO: Make themeable
	}

	header{
		@include mq("tablet-small"){
			display: none;
		}
	}

	&__img {
		height: 208px;
		background-image: url('../img/stefan.jpg');
		background-position-x: -72px;
		transform: scaleX(-1);
	}

	&__name {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $purple-light; // TODO: Make themeable
		@include roboto($bold, 14px); /* TODO: Make REM */
		@include uppercase;
		height: 42px;
	}

	&__list {
		display: flex;
		flex-direction: column;
		padding: 0;
		margin: 0;
		list-style-type: none;

		@include mq("tablet-small"){
			flex-direction: row;
			justify-content: space-around;
			height: 100%;
		}
	}

	&__item{
		@include uppercase;
		@include roboto($regular, 13px); /* TODO: Make REM */

		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;

		height: 94px;

		@media (max-height: 700px){
			height: auto;
		}

		@include mq("tablet-small"){
			width: 25%;
			margin: 0 5px;
			height: 100%;
		}

		&:hover,
		&--selected {
			background-color: $blue-dark; // TODO: Make themeable
		}
	}

	&__item-label{
		@include mq("phone"){
			margin-top: 3px;
			font-size: 10px;
		}
	}

	&__tab{
		color: $white; // TODO: Make themeable
		text-decoration: none;

		width: 100%;
		height: 100%;

		padding: 10px 0;

		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;

		@media (max-height: 700px){
			flex-direction: row;
			justify-content: flex-start;
			padding: 10px;

			.fa{
				text-align: center;
				width: 1.7em;
				font-size: 1.6em;
			}
		}

		@include mq("tablet-small"){
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: space-around;
			padding: 10px 0;
		}

	}

	&__footer{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;

		margin-bottom: 30px;
		padding: 0 15%;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;

		.fa, .fab {
			color: $white; // TODO: Make themeable
		}
		.fa:hover,.fab:hover {
			color: $blue-dark; // TODO: Make themeable
		}

		@include mq("tablet-small"){
			display: none;
		}
	}
}
